body{
    background-color: #EBFEFF;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    max-width: 100%;
}
.block-text{
    margin-left: 65px;
}
.navbar-text{
    font-size: 50px;
    margin: 10px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.links{
    margin-right: 65px;
}
.link{
    text-decoration: none;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin: 15px;
}
.greeting{
    display: flex;
    justify-content: center;
    margin-top: 80px;
}
.greeting-image{
    width: 280px;
    height: 390px;
    border-radius: 15px;
    border: 3px solid black;
}
.greeting-image-block{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 370px;
    height: 360px;
    margin-left: 50px;
}
.greting-text{
    font-size: 35px;
}
.buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.cv {
  background-color: blue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  padding: 12px 20px;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}


.greting-name>strong{
    font-size: 60px;
}
.greting-text{
    margin-top: 30px;
}
.greting-name{
     margin-top: 30px;
}
.greting-fulltext{
    margin-top: 30px;
    font-size: 30px;
}
.bio-block{
    display: flex;
    gap: 30px;
    padding-left: 180px;
    padding-right: 180px;
    margin-top: 30px;
    background-color: whitesmoke;
}
.bio-text{
    font-size: 26px;
    margin-top: 30px;
}
.bio-header{
    font-size: 35px;
    font-weight: bold;
}
.skills{
    text-align: center;
}
.skill-header{
    font-size: 45px;
}
.skill-question{
    font-size: 30px;
}
.skill-icon{
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
}
.cards{
    display: flex;
    justify-content: center;
}

.image-card{
    width: 368px;
    height: 198px;
}
.img-card{
    width: 390px;
    height: 210px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.card{
    width: 390px;
    margin: 20px;
    border-radius: 15px;
    border: 1px solid black;
}
.ahievment-block{
    text-align: center;
    background-color: white;
}
.header-project{
    font-size: 35px;
    color: rgb(39, 167, 226);
}
.queltion-project{
    font-size: 45px;
}
.header-card{
    font-size: 25px;
    font-weight: bold;
}
.footer{
    margin-left: 85px;
}
.title-text{
    font-size: 48px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.mail{
    font-size: large;
}
.footer-text{
    font-size: larger;
}
.social-icon{
    margin-bottom: 20px;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    text-align: center;
    margin-left: 140px;
  }
  .links {
    flex-direction: column;
    text-align: center;
  }
  .greeting{
    flex-direction: column;
    margin-left: 140px;
  }
  .greeting-image-block{
    margin-top: 50px;
    width: 600px;
  }
  
  .bio-block{
    flex-direction: column
  }
  .bio-text{
    width: 748px;
  }
  .skills{
    padding-left: 135px;
    text-align: center;
  }
  .skills-icon{
    display: flex;
    flex-direction: column;
    width: 650px;
    margin-right: 0;
  }
  .skill-icon{
    margin-left: 35px;
  }
  .cards{
    flex-direction: column;
  }
  .ahievment-block{
    margin-left: 170px;
    text-align: center;
  }
}


