body{
    background-color: #EBFEFF;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    max-width: 100%;
}
.block-text{
    margin-left: 65px;
}
.navbar-text{
    font-size: 30px;
    margin: 10px;
}
.links{
    margin-right: 65px;
}
.link{
    text-decoration: none;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin: 15px;
}
.greeting{
    display: flex;
    justify-content: center;
    margin-top: 80px;
}
.greeting-image{
    width: 280px;
    height: 340px;
    border-radius: 15px;
}
.greeting-image-block{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 370px;
    height: 360px;
    margin-left: 50px;
}
.buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.cv {
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;

  padding: 12px 20px;
  color: white;
  border-radius: 10px;
  text-decoration: none;
  cursor: pointer;

  transition: 0.3s ease;
}

.cv:hover {
  background-color: darkblue;
  transform: scale(1.05);
}

.cv img {
  width: 20px;
}

.greting-name>strong{
    font-size: 40px;
}
.greting-text{
    margin-top: 30px;
}
.greting-name{
     margin-top: 30px;
}
.greting-fulltext{
    margin-top: 30px;
}
.bio-block{
    display: flex;
    gap: 30px;
    margin-left: 150px;
    margin-right: 250px;
    margin-top: 30px;
}
.bio-text{
    font-size: 26px;
    margin-top: 30px;
}
.bio-header{
    font-size: 35px;
    font-weight: bold;
}
.skills{
    text-align: center;
}
.skill-header{
    font-size: 45px;
}
.skill-question{
    font-size: 30px;
}
.skill-icon{
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
}